.experience-tree {
    --list-indent: 1rem;
    --experience-arrow-duration: 0.2s;
    --experience-content-duration: 0.3s;
    padding-left: var(--list-indent);
    list-style: none;
}

.experience-tree.top-level {
    gap: 1rem;
    list-style: none;
    padding-left: 0;
    margin: 0;
}


.experience-folder-wrapper {
    margin-left: calc(-1 * var(--list-indent));
    border: 1px solid #333;
    border-radius: 12px;

    padding: 1rem;
    list-style: none;

}

.experience-folder-wrapper  + .experience-folder-wrapper {
    margin-top: 1rem;
}


.experience-folder-wrapper.top-level {
    margin-bottom: 1rem;
    margin-left: 0;
}

.experience-item-wrapper {
    list-style: none;
    padding: 1rem 1rem 0rem 0;
}

.experience-item-wrapper + .experience-item-wrapper{
    padding-top: 0;
    margin-top: 1rem;
}

.experience-item-wrapper + .experience-folder-wrapper {
    margin-top: 1rem;
}

.experience-item-wrapper.top-level {
    border: 1px solid #333;
    border-radius: 12px;
    margin-bottom: 1rem;

}
