.experience-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 300px;
}

.experience-tree {
    gap: 1rem;
}

.experience-list {
    gap: 1rem
}

.experience-node {
    border-left: 1px solid #333;
    padding-left: 1rem;
}

.experience-item {
    padding: 1rem;
    border-radius: 1rem;
}

.view-switch {
    padding-left: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}