.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.tag-selector {
    padding: 1rem;
}

.tag-search {
    box-sizing: border-box;
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 999px;
    border: 1px solid #333;
    background: var(--bg-color);
    color: var(--text-color);
}

.tag-dropdown {
    margin-top: 0.75rem;
    max-height: 500px;
    height: 100px;
    min-height: 10px;
    overflow-y: auto;
    resize: vertical;

    align-items: flex-start;
    align-content: flex-start;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    padding: 1rem;
    border: 1px solid #333;
    border-radius: 1rem;
    background: var(--bg-color);
}

.tag {
    padding: 0.5rem 0.9rem;
    border-radius: 999px;
    border: 1px solid #555;
    background: transparent;
    color: var(--text-color);
    cursor: pointer;
}

.tag.active {
    background: gray;
    color: white;
}

.selected-tags {
    margin-top: 1rem;

    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.selected-tag {
    padding: 0.45rem 0.8rem;
    border-radius: 999px;
    border: 1px solid var(--text-color);
    background: gray;
    color: white;
    cursor: pointer;
}