.experience-node-summary {
    text-align: left;
    font-size: 0.9rem;
    color: #999;
}

.experience-node-summary a {
    color: #999;
}

.experience-node-summary a:hover {
    color: #686868;
}

.experience-node-summary a:visited {
    color: #9972b3;
}