.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-window {
    position: relative;
    width: min(900px, 90vw);
    max-height: 85vh;
    background: white;
    border-radius: 20px;
    padding: 32px;
    overflow-y: auto;
}

.modal-close {
    position: absolute;
    top: 16px;
    right: 20px;
    border: none;
    background: none;
    font-size: 32px;
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal-window-title {
    font-size: 2rem;
}

.gallery-item {

}

.gallery-text-item {

}

.gallery-media-item img,
.gallery-media-item video {
    width: 100%;
    border-radius: 12px;
}

.gallery-open-button {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.35rem;


    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.3rem;

    border-radius: 6px;
    border: none;
    background: transparent;

    color: #999;

    font-size: 0.95rem;
    text-decoration: underline;

    cursor: pointer;
}

.gallery-open-button:hover {
    color: #686868;
    background: #eeeeee;
}

.gallery-open-button-icon {
    width: 1em;
    height: 1em;
    flex-shrink: 0;
}