@import "./experience-node-postscriptum.css";

.experience-item-description {
    padding-top: 0.45rem;
    text-align: left;
}


.details-list {
    padding-left: 1rem;
    padding-top: 0.35rem;
}

.details-list > ul{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.details-list ul{
    text-align: left;
    list-style-type: disc;
}

.details-content-inner {

    padding-bottom: 0.25rem;
}

