:root {
    --bg-color: white;
    --text-color: black;
}


.page {
    background: var(--bg-color);
    color: var(--text-color);
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.experience {
    display: flex;
    flex-direction: column;
    padding: 0 2rem ;

}

.experience hr {
    width: 100%;
}
